label {
  display: block;
  text-align: center;
  cursor: pointer;
  color: black;
  height: calc(var(--spacing) * 10);
  width:100%;
  padding-top: 6px;
}
input[type="radio"]:checked + label{
    border-width: 2px;
    border-color:black;
}
input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}