label {
  display: block;
  text-align: center;
  cursor: pointer;
  color: black;
  height: calc(var(--spacing) * 10);
  width:100%;
  padding-top: 6px;
}
input[type="radio"]:checked + label{
    border-width: 2px;
    border-color:black;
}
input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #53eafd;
  padding: 8px 15px;
  font-size: 18px;
  border-radius: calc(infinity * 1px);
  color: black;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #a2f4fd;
}