label {
  display: block;
  text-align: center;
  cursor: pointer;
  color: black;
  height: calc(var(--spacing) * 10);
  width:100%;
  padding-top: 6px;
}
input[type="radio"]:checked + label{
    border-width: 2px;
    border-color:black;
}
input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #7bf1a8;
  padding: 8px 15px;
  font-size: 18px;
  border-radius: calc(infinity * 1px);
  color: black;
  cursor: pointer;
  transition:  .5s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: oklch(52.7% 0.154 150.069);
  color:oklch(87.9% 0.169 91.605);
}